/* Frontpage code */
html {
    height: 100vh;
    width: auto;
    background: url('Pictures/Shizuoka\ Field.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: -1px;
    margin-top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mobile {
    display: none;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}


hr {
    height: 1.5px;
    margin: 20px 0;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    border: 0;
  }
  hr:after {
    display: block;
    content: '';
    height: 30px;
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
    background-image: radial-gradient(farthest-side at center top, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  }

#frontpage {
    text-align: center;
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.topBanner {
    position: relative;
}

.topBanner::after {
    content: "";
    background-image: url(Pictures/Rice\ Paper.jpg);
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.topBanner h1 {
    text-align: center;
}

.topBanner .logo {
    height: 48px;
    width: 40px;
    display: inline-block;
    
}

.topBanner .logo2 {
    height: 48px;
    width: 40px;
    display: inline-block;
    transform: scale(-1, 1);
    -webkit-transform:scale(-1,1);
    -moz-transform:scale(-1,1);
    -o-transform:scale(-1,1);
}


#frontpageText {
    overflow-y: auto;
    text-align: center;
    position: relative;
}

#frontpageText::after {
    content: "";
    background-image: url(Pictures/Rice\ Paper.jpg);
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#frontpageText p {
    opacity: 1;
}


 h1 {
    color: black;
    /* font-style: oblique; */
}

#frontpage ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0px;
    padding-bottom: 10px;
}

.homeUL {
    padding-right: 5px;
}

.picLinks {
    position: relative;
    text-align: center;
    opacity: 1 !important;
}

.scroll {
    height: 180px;
    width: 180px;
    position: relative;
    opacity: 1;
    margin: 0.8rem;
}

.pictures {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 1;
}

.scroll:hover {
    box-shadow: 1px 1px 30px 5px darkolivegreen;
    opacity: 0.8;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#frontpage p{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
}

#frontpage .picLinks {
    text-align: center;
    position: relative;
    font-size: 25px;
    font-weight: 600;
    font-style: oblique;
}

/* Below is css for content pages */

.content {
    padding-left: 7%;
    padding-right: 7%;
    display: grid;
    grid-template-columns: 13em, auto;
    grid-gap: 10px;
    grid-auto-rows: auto;
}


.contentBanner {    
    text-align: center;
    position: relative;
    grid-row: 1;
    grid-column: 2;
    max-height: 4.5em;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -20px;
}

.contentBanner::after {
    content: "";
    background-image: url(Pictures/Rice\ Paper.jpg);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.leftContent {
    position: relative;
    max-height: 25em;
    grid-column: 1;
    grid-row: 1 / 3;
    text-align: center;
    min-width: 10em;
}

.leftContent::after {
    content: "";
    background-image: url(Pictures/Rice\ Paper.jpg);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.leftContent ul {
    list-style-type: none;
    text-align: left;
    margin-left: -15px;
}

.logo {
    height: 72px;
    width: 62px;
    padding-top: 10px;
}

.contentBody {
    width: auto;
    position: relative;
    margin-top: -20px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    grid-row: 2;
    grid-column: 2;
}

.contentBody::after {
    content: "";
    background-image: url(Pictures/Rice\ Paper.jpg);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.contentBody p {
    text-indent: 20px;
}

.contentBody img {
    width: auto;
    height: auto;
    padding-bottom: 20px;
    max-width: 75%;
    min-width: 50%;
    max-height: 20em;
}

/* .footer {
    float: right;
    margin-top: 1em;
    margin-bottom: 1em;
} */

@media only screen and (max-width: 600px) {
    .topBanner .logo2 {
        display: none;
    }

    .content .logo {
        height: 40px;
        width: 32px;
    }
    
    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .leftContent {
        order: 1
    }

    .leftContent ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        margin-left: -35px;
    }

    .contentBanner {
        order: 2;
        justify-content: center;
        margin-top: 5px;
        max-height: 3.5em;
    }

    .contentBody {
        order: 3;
        margin-top: 5px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: contents;
    }


}